---
Language:        Cpp
BasedOnStyle: Microsoft
SortIncludes: Never
ColumnLimit: 0
PointerAlignment: Left
AccessModifierOffset: -4
NamespaceIndentation: All
BreakConstructorInitializers: AfterColon
Cpp11BracedListStyle: false
BraceWrapping:
  AfterCaseLabel: true
  BeforeLambdaBody: true
  AfterUnion: true
SpaceAfterTemplateKeyword: false
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive