[submodule "ThirdParty/DiligentCore"]
	path = ThirdParty/DiligentCore
	url = https://github.com/DiligentGraphics/DiligentCore.git
[submodule "ThirdParty/Octree"]
	path = ThirdParty/Octree
	url = https://github.com/attcs/Octree.git
